In [1]:
import pandas as pd

In [2]:
data = []
with open('Chronic_Kidney_Disease/chronic_kidney_disease.arff', "r") as f:
    for line in f:
        line = line.replace('\n', '')
        data.append(line.split(','))

"""
age		-	age	
bp		-	blood pressure
sg		-	specific gravity
al		-   	albumin
su		-	sugar
rbc		-	red blood cells
pc		-	pus cell
pcc		-	pus cell clumps
ba		-	bacteria
bgr		-	blood glucose random
bu		-	blood urea
sc		-	serum creatinine
sod		-	sodium
pot		-	potassium
hemo		-	hemoglobin
pcv		-	packed cell volume
wc		-	white blood cell count
rc		-	red blood cell count
htn		-	hypertension
dm		-	diabetes mellitus
cad		-	coronary artery disease
appet		-	appetite
pe		-	pedal edema
ane		-	anemia
class		-	class	
"""
        
# Convert the data to a Pandas DataFrame
names = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba',
         'bgr', 'bu',  'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc',
         'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'class', 'no_name']

df = pd.DataFrame(data[145:], columns=names)

df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,wc,rc,htn,dm,cad,appet,pe,ane,class,no_name
0,?,70,1.015,4,0,abnormal,normal,notpresent,notpresent,104,...,?,?,no,no,no,good,yes,no,ckd,None
1,?,70,1.020,0,0,?,?,notpresent,notpresent,219,...,9800,4.4,no,no,no,good,no,no,ckd,None
2,55,70,1.010,3,0,?,normal,notpresent,notpresent,99,...,?,?,no,no,no,poor,yes,no,ckd,None
3,60,70,1.010,0,0,?,normal,notpresent,notpresent,140,...,?,?,no,no,no,good,no,no,ckd,None
4,72,90,1.025,1,3,?,normal,notpresent,notpresent,323,...,?,?,no,yes,yes,poor,no,no,ckd,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,42,70,1.025,0,0,normal,normal,notpresent,notpresent,75,...,7800,6.2,no,no,no,good,no,no,notckd,None
281,12,80,1.020,0,0,normal,normal,notpresent,notpresent,100,...,6600,5.4,no,no,no,good,no,no,notckd,None
282,17,60,1.025,0,0,normal,normal,notpresent,notpresent,114,...,7200,5.9,no,no,no,good,no,no,notckd,None
283,58,80,1.025,0,0,normal,normal,notpresent,notpresent,131,...,6800,6.1,no,no,no,good,no,no,notckd,None
284,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 26 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      285 non-null    object
 1   bp       284 non-null    object
 2   sg       284 non-null    object
 3   al       284 non-null    object
 4   su       284 non-null    object
 5   rbc      284 non-null    object
 6   pc       284 non-null    object
 7   pcc      284 non-null    object
 8   ba       284 non-null    object
 9   bgr      284 non-null    object
 10  bu       284 non-null    object
 11  sc       284 non-null    object
 12  sod      284 non-null    object
 13  pot      284 non-null    object
 14  hemo     284 non-null    object
 15  pcv      284 non-null    object
 16  wc       284 non-null    object
 17  rc       284 non-null    object
 18  htn      284 non-null    object
 19  dm       284 non-null    object
 20  cad      284 non-null    object
 21  appet    284 non-null    object
 22  pe       284 non-null    object
 23  ane      284 non-null    object
 24  class    284 non-null    object
 25  no_name  1 non-null      object
dtypes: object(26)
memory usage: 58.0+ KB

In [4]:
df.describe()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,wc,rc,htn,dm,cad,appet,pe,ane,class,no_name
count,285,284,284,284,284,284,284,284,284,284,...,284,284,284,284,284,284,284,284,284,1
unique,74,9,6,7,7,3,3,3,3,118,...,80,45,3,6,3,4,4,3,4,1
top,60,80,1.020,0,0,normal,normal,notpresent,notpresent,?,...,?,?,no,no,no,good,no,no,notckd,notckd
freq,13,82,93,175,217,174,207,261,265,23,...,63,80,208,208,266,241,241,250,149,1

In [5]:
df.to_csv("Chronic_Kidney_Disease/chronic_kidney_disease.csv")